@charset "utf-8";
/* CSS Document */



#digital_school_menu{
	width:240px;
	position:fixed;
	height:55px;
	display:block;
	left:-170px;
	top:140px;
	z-index:1000;
	line-height: 14px;
	
}
#digital_school_menu #ds_menu_links {
    float: left;
    height: auto;
    width: 170px;
}
#digital_school_menu #ds_trigger {
    background-color: #ffffff;
    border: 1px solid #f4f4df;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 3px 3px 5px #666;
    color: #494949;
    cursor: pointer;
    float: left;
    height: 36px;
    left: -1px;
    opacity: 1;
    position: relative;
    top: 0;
    width: 36px;
}
#digital_school_menu #ds_trigger:hover {
    opacity: 1;
}
#digital_school_menu #ds_trigger div.img_container {
    background: rgba(0, 0, 0, 0) url("images/logoDschSFade.png") no-repeat scroll center center / auto 80%;
    display: inline-block;
    height: 100%;
    width: 100%;
}
#digital_school_menu #ds_trigger div.img_container:hover {
    background-image: url("images/logoDschS.png");
}
#digital_school_menu div {
    height: 65px;
    width: 170px;
}
#digital_school_menu .phot_lo__sidelink, #digital_school_menu .phot_video_sidelink, #digital_school_menu .phot_ugc_sidelink, #digital_school_menu .phot_bp_sidelink, #digital_school_menu .phot_cult_sidelink {
    height: 73px;
}
#digital_school_menu .ds_sidelink {
    height: 55px;
}
#digital_school_menu .phot_aggregator_sidelink {
    height: 80px;
}
#digital_school_menu a {
    border: 1px solid #fff;
    color: #fff;
    display: table-cell;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 65px;
    padding-left: 73px;
    text-decoration: none;
    vertical-align: middle;
    width: 170px;
    line-height: 16px;
}
#digital_school_menu a span {
    display: inline-block;
    font-weight: normal;
}
#digital_school_menu .ds_sidelink a {
    background: #f4f4df url("images/digital_school.png") no-repeat scroll center center;
    height: 55px;
    text-indent: -5000px;
}
#digital_school_menu .ds_sidelink a:hover {
    background-color: #d6d5ba;
}
#digital_school_menu .e_books_sidelink a {
    background: #edc53f url("images/ebooks.png") no-repeat scroll left center;
}
#digital_school_menu .e_books_sidelink a:hover {
    background-color: #d6b761;
}
#digital_school_menu .phot_lo__sidelink a {
    background: #77aaa6 url("images/photodentro_lo.png") no-repeat scroll left center;
    height: 73px;
}
#digital_school_menu .phot_video_sidelink a {
    background: #77aaa6 url("images/photodentro_video.png") no-repeat scroll left center;
    height: 73px;
}
#digital_school_menu .phot_ugc_sidelink a {
    background: #77aaa6 url("images/photodentro_ugc.png") no-repeat scroll left center;
    height: 73px;
}
#digital_school_menu .phot_bp_sidelink a {
    background: #77aaa6 url("images/photodentro_bp.png") no-repeat scroll 12px center;
    height: 73px;
}
#digital_school_menu .phot_edusoft_sidelink a {
    background: #77aaa6 url("images/photodentro_edusoft.png") no-repeat scroll 5px 3px;
    height: 73px;
}
#digital_school_menu .phot_cult_sidelink a {
    background: #77aaa6 url("images/photodentro_cult.png") no-repeat scroll 12px center;
    height: 73px;
}
#digital_school_menu .phot_lo__sidelink a:hover, #digital_school_menu .phot_video_sidelink a:hover, #digital_school_menu .phot_ugc_sidelink a:hover, #digital_school_menu .phot_bp_sidelink a:hover, #digital_school_menu .phot_edusoft_sidelink a:hover, #digital_school_menu .phot_cult_sidelink a:hover {
    background-color: #99bab7;
}
#digital_school_menu .phot_aggregator_sidelink a {
    background: #577572 url("images/photodentro.png") no-repeat scroll 3px 5px;
    height: 80px;
}
#digital_school_menu .phot_aggregator_sidelink a:hover {
    background-color: #99bab7;
}
#digital_school_menu .platform_sidelink a {
    background: #68574c url("images/platform.png") no-repeat scroll left center;
}
#digital_school_menu .platform_sidelink a:hover {
    background-color: #7f695d;
}
@media all and (min-width: 5em) and (max-width: 65em) {
#digital_school_menu {
    position: fixed;
    top: 100px;
}
#digital_school_menu .ds_sidelink, #digital_school_menu div {
    height: 48px;
}
#digital_school_menu .ds_sidelink a, #digital_school_menu #ds_trigger, #digital_school_menu a {
    height: 48px;
}
#digital_school_menu #ds_trigger p {
    line-height: 48px;
}
#digital_school_menu .e_books_sidelink a {
    background: #edc53f url("images/ebooks_s.png") no-repeat scroll left center;
    line-height: 13px;
}
#digital_school_menu a {
    padding-left: 52px;
}
#digital_school_menu .phot_lo__sidelink, #digital_school_menu .phot_video_sidelink, #digital_school_menu .phot_ugc_sidelink, #digital_school_menu .phot_bp_sidelink, #digital_school_menu .phot_edusoft_sidelink, #digital_school_menu .phot_cult_sidelink {
    height: 48px;
}
#digital_school_menu .phot_aggregator_sidelink {
    height: 58px;
}
#digital_school_menu .phot_aggregator_sidelink a {
    background: #577572 url("images/photodentro_s.png") no-repeat scroll left center;
    font-size: 12px;
    height: 58px;
    line-height: 11px;
}
#digital_school_menu .phot_lo__sidelink a {
    background: #77aaa6 url("images/photodentro_lo_s.png") no-repeat scroll left center;
    font-size: 12px;
    height: 48px;
    line-height: 11px;
}
#digital_school_menu .phot_video_sidelink a {
    background: #77aaa6 url("images/photodentro_video_s.png") no-repeat scroll left center;
    font-size: 12px;
    height: 48px;
    line-height: 11px;
}
#digital_school_menu .phot_ugc_sidelink a {
    background: #77aaa6 url("images/photodentro_ugc_s.png") no-repeat scroll left center;
    font-size: 12px;
    height: 48px;
    line-height: 11px;
}
#digital_school_menu .phot_bp_sidelink a {
    background: #77aaa6 url("images/photodentro_bp_s.png") no-repeat scroll 7px center / auto 43px;
    font-size: 12px;
    height: 48px;
    line-height: 11px;
}
#digital_school_menu .phot_edusoft_sidelink a {
    background: #77aaa6 url("images/photodentro_edusoft_s.png") no-repeat scroll 7px center / auto 43px;
    font-size: 12px;
    height: 48px;
    line-height: 11px;
}
#digital_school_menu .phot_cult_sidelink a {
    background: #77aaa6 url("images/photodentro_cult_s.png") no-repeat scroll 7px center / auto 43px;
    font-size: 12px;
    height: 48px;
    line-height: 11px;
}
#digital_school_menu .platform_sidelink a {
    background: #68574c url("images/platform_s.png") no-repeat scroll left center;
    line-height: 13px;
}
#digital_school_menu #ds_trigger {
    height: 36px;
    width: 36px;
}

}



